<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Lista de Productos</title>
</head>

<body>
    <!-- nav bar buscador --------------------------------------------------------->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Productos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categoría
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Cuadernos y papelería</a></li>
                            <!-- Puedes personalizar estas opciones según tu aplicación -->
                            <li><a class="dropdown-item" href="#">Útiles</a></li>
                            <li><a class="dropdown-item" href="#">Arte y Pintura</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                    <!-- Puedes ajustar esto según el buscador que desees implementar -->
                </form>
            </div>
        </div>
    </nav>
    <!-- nav bar buscador --------------------------------------------------------->

    <h1 style="text-align: center; margin: 30px;">Mostrar lista de Productos</h1>
    <!-- Botón para dar de alta un nuevo producto -->
    <a style="text-align: center" href="/productos/alta" class="btn btn-success">Nuevo producto</a>

    <!-- Cartas para mostrar los productos -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for producto in productos %}
        <div class="col">
            <div class="card h-100">
                {% if producto.imagen %}
                <img src="data:image/jpeg;base64,{{ producto.imagen }}" class="card-img-top" alt="Foto producto">
                {% else %}
                <p>No image available</p>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ producto.nombre_producto }}</strong></h5>
                    Descripción: {{ producto.descripcion }}<br>
                    Precio: {{ producto.precio_venta }}<br>
                    <!-- Puedes agregar más detalles según la estructura de tus documentos -->
                </div>
                <!-- Botones "Modificar" y "Ver" -->
                <a href="/productos/modificar/{{ producto.id }}" class="btn btn-warning">Modificar</a>
                <a href="/Productos_prueba/atributos/{{ producto.id }}" class="btn btn-primary">Ver</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Cartas para mostrar los productos -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7"></script>
</body>

</html>
